body
{
    color: darkblue;
    text-align: center;
    font-family: "Lucida Sans";
    font-size: 15px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background-color: aqua;
    box-shadow: 1px 5px 25px 1px;
    color: rgb(73, 70, 67);
    font-weight: bold;
    margin: 0;
    padding: 1em;
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;    
    font-size: 0.8em;    
}
#container
{
    width: 80%;
    padding: 1em;

}
#container h1
{
    font-size: 30px;
}